#header{
    color: yellow;font-size: 200px;
}
p {
  text-justify: distribute-center-last;
    color: yellow;
}
h1{
    color: yellow;
    marker-mid: 30px;
}h2{
    color: yellow;
    marker-mid: 30px;
}h3{
    color: yellow;
    marker-mid: 30px;
}h4{
    color: yellow;
    marker-mid: 30px;
   }
h5{
    color: yellow;
    marker-mid: 30px;
   }
<!--ul>li{$$}*5-->{
    color: yellow;s
    marker-mid: 30px;
}
div{
    color: red;
    marker-mid: 30px;
}
div{
    width: 700px;
    /*height: 250px;*/
    border: 2px  solid darkred;

}
.A{
    border: 40px darkblue groove;
    border-radius: 100PX;
    background-size: cover;
    background-repeat: no-repeat;

}
.B{
    border: 40px darkblue double;
    border-radius: 100PX;
    background-size: cover;
    background-repeat: no-repeat;

}
.C{
    border: 40px darkblue dotted;
    border-radius: 100PX;
    background-size: cover;
    background-repeat: no-repeat;

}
