#header{
    color: yellow;font-size: 200px;
}
p {
  text-justify: distribute-center-last;
    color: yellow;
}
h1{
    color: yellow;
    marker-mid: 30px;
}h2{
    color: yellow;
    marker-mid: 30px;
}h3{
    color: yellow;
    marker-mid: 30px;
}h4{
    color: yellow;
    marker-mid: 30px;
   }
h5{
    color: yellow;
    marker-mid: 30px;
   }
<!--ul>li{$$}*5-->{
    color: yellow;
    marker-mid: 30px;
}
div{
    color: red;
    marker-mid: 30px;
}
div{
    /*width: 1000px;*/
    /*height: 100px;*/
    border: 2px solid darkred;
}
.A{
    border: 40px darkblue groove;
}
.B{
    border: 40px darkblue double;
}
.C{
    border: 40px darkblue dotted;
}